# enable all checks, then selectively disable vendor checks, checks that interfere with a more "c like" style, and checks that I'm too dumb to follow.
Checks: '*, -abseil-*, -altera-*, -fuchsia-*, -google-*, -hicpp-*, -llvm*, -zircon-*, -cppcoreguidelines-macro-usage, -cppcoreguidelines-pro-type-union-access, -cppcoreguidelines-avoid-c-arrays, -cppcoreguidelines-avoid-non-const-global-variables, -cppcoreguidelines-non-private-member-variables-in-classes, -cppcoreguidelines-owning-memory, -cppcoreguidelines-pro-bounds-*, -modernize-use-trailing-return-type, -modernize-avoid-c-arrays, -misc-non-private-member-variables-in-classes, -readability-implicit-bool-conversion, -readability-uppercase-literal-suffix, -readability-function-cognitive-complexity'

WarningsAsErrors: '*'
HeaderFilterRegex: ''