@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("vars.css");

/* General things */
* {
  box-sizing: border-box;
}

body {
  font: 400 14px/22px "Open Sans", Roboto, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 56px 0 0 0;
}

a,
a:visited,
a:active,
a:focus {
  color: var(--link-color);
}

/* Sidebar */
.arrow {
  display: inline-block;
  cursor: pointer;
}

#side-nav {
  position: fixed;
  height: calc(100vh - 56px);
  width: 300px;
  top: 56px;
  padding: 0;
  background-color: var(--nav-bg);
  overflow: auto;
}

#side-nav::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 1px;
  background-color: var(--alt-color);
  top: 5%;
  right: 0;
}

#nav-tree {
  background-color: transparent;
  background-image: none;
  width: 100%;
  height: 100%;
}

#nav-tree-contents {
  margin: 0;
  padding: 10px 0 30px;
}

#nav-tree a {
  color: inherit;
}

#nav-tree .selected {
  background-color: var(--nav-bg);
  text-shadow: none;
  background-image: none;
  font-weight: bold;
}

#nav-tree .selected a {
  color: var(--text-color);
}

#nav-tree .label {
  color: var(--text-color);
  font: inherit;
}

#nav-sync {
  display: none !important;
}

.ui-resizable-handle.ui-resizable-e {
  display: none !important;
}

/* Header */
#titlearea {
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--nav-bg);
  box-shadow: 8px 0 12px -6px rgba(0, 0, 0, 0.2);
}

#titlearea table {
  width: 100%;
}

#titlearea table td {
  position: relative;
}

/* Theme toggle */
.themeToggle {
  float: right;
  margin-right: 20px;
  position: relative;
  height: 1px;
  width: 1px;
}

.themeToggle:focus {
  outline: none;
}

.themeToggle::after {
  position: absolute;
  top: -12px;
  left: -12px;
  height: 24px;
  width: 24px;
  opacity: 1 !important;
  line-height: 24px;
  font-size: 20px;
  cursor: pointer;
}

.themeToggle:focus::after {
  outline: black auto 1px;
}

.themeToggle:checked::after {
  content: "🌙" / "change theme";
}

.themeToggle:not(:checked)::after {
  content: "☀️" / "change theme";
}

/* Searchbar */
#titlearea table td:last-child {
  max-width: 40%;
  width: 300px;
}

#MSearchBox {
  width: calc(100% - 20px);
  right: 20px;
  float: right;
  height: auto;
  display: block;
  border-radius: 16px;
  background-color: var(--alt-color);
  color: var(--text-color);
  z-index: 10001;
  position: relative;
  overflow: hidden;
}

.MSearchBoxActive {
  border-radius: 16px 16px 0 0 !important;
}

.MSearchBoxActive::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 32px;
  bottom: 0;
  left: -32px;
  background-color: transparent;
  border-bottom-right-radius: 16px;
  box-shadow: 16px 0px 0 0 var(--alt-color);
  z-index: -1;
}

#MSearchBox input {
  width: 100%;
  background: none;
  padding: 8px;
  position: relative;
  height: auto;
  color: var(--text-color) !important;
}

#MSearchBox > .left,
#MSearchBox > .right {
  background: none;
  user-select: none;
  height: auto;
}

#MSearchBox > .left {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  margin-right: 20px;
  padding: 0 8px;
}

#MSearchResultsWindow {
  right: 20px !important;
  left: initial !important;
  position: fixed;
  margin-top: 9px; /* FIXME: i'm fairly sure this will fail for certain scaling... */
  border: none;
  color: var(--text-color) !important;
  background-color: var(--alt-color);
  z-index: 10004;
  border-radius: 16px 0 16px 16px;
}

#MSearchResultsWindow iframe {
  border-radius: 16px 0 16px 16px;
}

#MSearchBox > .left > img,
#MSearchBox > .right > img {
  top: auto;
  left: auto;
  height: 100%;
}

#MSearchClose {
  display: none !important;
}

/* Directories */

.directory {
  position: relative;
  border-collapse: collapse;
}

.directory > tbody > tr {
  border-bottom: 8px solid transparent;
}

.directory .levels {
  position: absolute;
  right: 0;
}

.directory .levels span {
  cursor: pointer;
  margin: 0 4px;
  text-decoration: underline;
  color: var(--link-color);
}

.directory .entry {
  white-space: nowrap;
}

/* .directory .entry > span:first-child {
  border-right: 2px solid #fff;
  margin-right: 25px;
} */

.directory .entry .icona {
  margin: 0 20px 0 10px;
  background-color: var(--accent-color);
  width: 16px;
  height: 16px;
  color: var(--icon-color);
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  user-select: none;
}

.directory .arrow {
  width: 16px;
  text-align: center;
}

.directory .entry .icona ~ * {
  font-family: "Fira Code", monospace;
}

/* Main content */
#doc-content {
  overflow: initial;
  padding: 20px 0 40px;
}

#doc-content p {
  line-height: 1.6em;
}

.contents,
.header {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
}

.summary {
  display: none;
}

.contents > .memitem + a,
.contents > .groupheader + a,
.memdoc > .memitem + a,
.memdoc > .groupheader + a {
  top: -76px;
  position: relative;
}

a.anchor {
  top: calc(-76px - 3em);
  position: relative;
}

.title {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: bold;
}

a#details + .groupheader {
  display: none;
  /* color: red; */
}

.title > .ingroups {
  font-size: 1rem;
  /* padding-top: 20px; */
}

.memItemLeft,
.memTemplItemLeft {
  white-space: nowrap;
  width: 1%;
}

.memItemRight,
.memTemplItemRight {
  width: 100%;
}

.memItemRight b,
.memTemplItemRight b {
  font-weight: normal;
}

.memItemLeft,
.memItemRight,
.memTemplParams,
.memTemplItemLeft,
.memTemplItemRight,
.memtemplate,
.memname,
.textblock h3 {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-size: 1em;
}

/* NOTE: this is incredibly hacky, and i'm only 50% sure it works. */
.memproto + .memdoc .textblock h3 {
  margin: 0;
  position: absolute;
  top: 0;
  background-color: var(--bg-color);

  /* color: red; */
}

.memdoc .textblock h3 + p {
  margin-top: 2em;
}

.memproto .memname {
  cursor: text; /* pointer-events: none disables cursors for some reason so we hack it back in :| */
}

/* .memproto .memname > a {
  pointer-events: none;
  color: inherit;
  display: inline-block;
  text-decoration: none;
} */

.memitem {
  position: relative;
}

.memitem:not(:last-child) {
  margin-bottom: 30px;
}

.memitem .memitem {
  margin-left: 30px;
}

.memitem:not(.memitem .memitem) {
  padding-left: 17px;
  margin-left: 11px;
  border-left: 2px solid var(--accent-color);
}

.groupheader {
  margin: 1.4em 0 0.5em;
}

.ititle p {
  margin-top: 0;
}

.memtitle .permalink a {
  color: transparent;
  position: relative;
  display: inline-block;
  width: 30px;
}

.memtitle .permalink a::selection {
  color: transparent;
}

.memtitle .permalink a::after {
  content: "🔗";
  text-align: center;
  color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: block; */
}

.memtitle .overload {
  float: right;
}

tr:not(:last-child) .memSeparator {
  line-height: 2px;
  background-color: var(--alt-color);
}

tr:last-child .memSeparator {
  line-height: 0px;
}

.fieldtable > tbody > tr > th {
  text-align: left;
}

.fieldtable {
  border-collapse: collapse;
}

.fieldtable > tbody > tr:not(:last-child) {
  border-bottom: 3px solid var(--alt-color);
}

.fieldtable .fieldtype::after {
  content: " ";
  white-space: pre;
}

.fieldtable .fieldname::after {
  content: "  ";
  white-space: pre;
}

.fieldtable .fieldname,
.fieldtable .fieldtype {
  font-family: "Fira Code", monospace;
}
.fieldtable .fielddoc p {
  margin: 0.5em 0;
}

.ttc {
  display: none;
}

.contents hr {
  border: none;
  border-top: 1px solid var(--text-color);
  opacity: 0.4;
}

.section.warning {
  background-color: var(--warning-bg);
  border-left: 6px solid var(--warning-color);
  padding: 8px 16px;
}

.section.warning dt {
  font-weight: bold;
}

.section.warning dd {
  margin-left: 0;
}

/* Code blocks */
.fragment {
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  overflow-y: hidden;
}

pre.fragment,
div.fragment {
  background-color: var(--codeblock-bg);
  /* box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2); */
  padding: 8px 16px;
  margin: 4px 8px 4px 2px;
  overflow: auto;
  white-space: nowrap;
  font-family: "Fira Code", monospace;
  border-radius: 4px;
}

div.line {
  white-space: pre;
}

a.code {
  color: inherit;
  text-decoration: underline;
}

span.keyword {
  color: var(--keyword-color);
}

span.keywordtype {
  color: var(--keywordtype-color);
}

span.keywordflow {
  color: var(--keywordflow-color);
}

span.comment {
  color: var(--comment-color);
}

span.preprocessor {
  color: var(--preprocessor-color);
}

span.stringliteral {
  color: var(--stringliteral-color);
}

span.charliteral {
  color: var(--charliteral-color);
}

span.vhdldigit {
  color: var(--vhdldigit-color);
}

span.vhdlchar {
  color: var(--vhdlchar-color);
}

span.vhdlkeyword {
  color: var(--vhdlkeyword-color);
}

span.vhdllogic {
  color: var(--vhdllogic-color);
}
